#chapter-nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    width: 100%;
    user-select: none;
}

.chapter-control {
    border-radius: 50%;
    overflow: hidden;
}

.chapter-nav {
    background-color: beige;
}

.chapter-nav-polygon {
    fill: black;
}