.binary-input {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.binary-input-changeable:hover {
    background-color: grey;
}

.binary-input-display {
    width: fit-content;
    height: fit-content;
}

.number-input {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.number-input-field.form-control {
    width: 50px;
}

.number-input-controls {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.arrow-container {
    height: fit-content;
    width: fit-content;
}

.arrow-polygon {
    fill: black;
}

.number-reader {
    border: 1px black solid;
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}