.main-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page-body {
    height: 70vh;
    overflow: auto;
    padding-right: 10px;
}

.page-body::-webkit-scrollbar {
    width: 10px;
}

.page-body::-webkit-scrollbar-track {
    background-color: rgb(207, 207, 207);
}

.page-body::-webkit-scrollbar-thumb {
    background-color: rgb(133, 133, 133);
}

.page-body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(76, 76, 76);
}