#encode-demo {
    display: flex;
    flex-direction: column;
    gap: 30px;
    user-select: none;
}

.binary-input-array {
    display: flex;
    flex-direction: row;
}

.binary-input {
    width: 40px;
    height: 40px;
}

.encode-box {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.k-L-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.number-input-indicator {
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
}

.box-left {
    width: 30%;
}

.box-right {
    width: 70%;
}

.adder {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#n-box {
    align-self: start;
}

#n-indicator {
    width: fit-content;
    margin: auto;
}

#adders {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}