.convolutional {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.convolutional-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.convolutional-section-header {
    font-weight: 600;
    font-size: 28px;
}

.convolutional-section-body {
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 15px;
}